# Ẩn các file chứa thông tin nhạy cảm
.env
config.json
.env

# Ẩn các thư mục công cụ riêng tư (Không cho phép tải về từ GitHub)
9router/
ds2api/
ds2api_bin/

# Các file rác khác
node_modules/
*.log
*.tmp
